# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# React Native
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment variables
.env

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# Build directories
/build
/dist