@import 'variables';

.container {
  flex: 1;
  padding-top: 60px; // This accounts for the header's height
  min-height: 100vh;
  background-color: $page;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.innerContainer {
  width: calc(100% - 32px); // Subtracting the total horizontal padding
  padding: 0 16px;
}

.mainHeading {
  text-align: center;
  color: #FFFFFF;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 24px 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 992px) {
    font-size: 18px;
    margin: 38px 0 24px 0;
  }
}

.searchAndFilters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.searchWrapper {
  width: 100%;

  @media (min-width: 992px) {
    flex: 2; // Takes up more space than filters
  }
}

.filterWrapper {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: $secondary;
  border-radius: 20px;

  @media (min-width: 992px) {
    flex: 1; // Takes up less space than search
    margin: 0; // Remove margin as it's handled by gap
  }
}

.gridWrapper {
  background-color: $secondary;
  overflow: hidden;
  height: calc(100vh - 150px);
}

.message {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}