@import 'variables';

.container {
    display: flex;
    align-items: center;
    background-color: $secondary;
    border-radius: 25px;
    padding: 0 16px;
    margin: 12px 0;
    height: 43px;
  }
  
  .input {
    flex: 1;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .input::placeholder {
    color: #A0A0A0;
  }

  .playstationLogo {
    margin-right: 8px
  }